[Unit]
Description=SSL key(s) generator
Requires=data.mount local-fs.target
After=data.mount local-fs.target
Before=network.target

[Service]
Type=oneshot
ExecStart=@@sbindir@@/sslgenkeys.sh

[Install]
WantedBy=multi-user.target
