[Unit]
Description=update hostname from /data
After=data.mount
Requires=data.mount systemd-hostnamed.service

[Service]
Type=oneshot
ExecStart=@@base_bindir@@/sh -c '@@bindir@@/hostnamectl set-hostname $(@@base_bindir@@/cat @@sysconfdir@@/hostname)'

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
