[Unit]
Description=update systemd-networkd from /data
After=data.mount
Requires=data.mount systemd-networkd.service

[Service]
Type=oneshot
ExecStartPre=-@@base_bindir@@/umount --force    @@sysconfdir@@/systemd/network
ExecStartPre=@@base_bindir@@/mount   --onlyonce @@sysconfdir@@/systemd/network
ExecStart=@@base_bindir@@/networkctl reload

[Install]
WantedBy=multi-user.target
