[Unit]
Description=update systemd-networkd from /data
After=data.mount
Requires=data.mount systemd-networkd.service

[Service]
Type=oneshot
ExecStartPre=-@@base_bindir@@/mount -o remount,ro @@sysconfdir@@/systemd/network
ExecStart=@@base_bindir@@/networkctl reload

[Install]
WantedBy=multi-user.target
